
body {
	background-image: url("../images/castle.jpg"); 
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0px;
	padding: 0px;
}

.heading {
	color: white;
	text-align: center;
	margin: 40px;
}

.horcrux {
	padding: 40px;

}


.panel-title {
	text-align: center;
	font-size: 30px;
	color: green;
}

.panel-body {
	font-size: 18px;
	opacity: 50;
}

.voldy {
	float: left;
	margin: 10px;
	height: 200px;
}

.target-number {
	font-size: 30px;
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 4px;
	color: black;
}

.win-lose-counter {
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 4px;
	color: black;
}

.horcrux-images {
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 0;
	margin-right: 0;
}


.score-number {
	font-size: 30px;
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 4px;
	color: black;
}